* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html body {
  font-size: 12px;
  font-family: "fooont", Arial, sans-serif;
  text-align: left;
  color: #000;
  background: #fff;
  background-size: cover;
  // position: relative;
  height: 100%;
}
